@import url(http://fonts.googleapis.com/css?family=Roboto:100);
 body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/tank.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
    height: 100vh;
}
nav {
    height: 4.5em;
    border-bottom: 1px solid;
    border-color: black;
    position: fixed;
    top: 0;
    margin-left: 5%;
    width: 90%;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}
a,
mark {
    background-color: white;
    font-size: 1.75em;
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
aside {
    position: fixed;
    top: 20%;
    margin-left: 2%;
}
