{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tanks</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/mainpage.css">
</head>
<body>
	<nav> 
		<ul>
			<li><mark> Welcome to Tanks app! </mark></li>
			{{if ne .Id -1}} 
			<li><mark> {{.UserName}} </mark></li>
			<li><a href="/login"> logout </a></li>
			{{else}} 
			<li><a href="/login"> login </a></li>
			{{end}}
		</ul>
	</nav>
{{end}}
